.btn {
  background: #ff0000;
  color: #fff;
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px;
}

.btn-block {
  text-align: center;
  margin: 10px auto;
}

.userInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 16px;
}

.emailInput {
  grid-column: 1 / 3;
}
