div {
  padding: 0px;
}
.banner-container {
  // height: 800px;
  background-image: url('../../../assets/home-banner-1.png');
  // background-size: cover;
  // position: relative;
  // overflow: hidden;

  position: relative;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
.container-full {
  height: 600px;
  width: 80%;
  left: 0;
  top: 60%;
  right: 0;
  bottom: 0;
  font-size: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  color: white;
}
.header-contant-container {
  // position: absolute;

  width: 100%;
  height: 60%;
  top: 30%;
}
.header-titile {
  padding-bottom: 20px;
  font-size: 50px;
}
.header-contant {
  font-size: 18px;
}
.header-button {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 20%;
  height: 64px;
}

.header-scroller {
  position: absolute;
  width: 80%;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
}
.button {
  position: relative;
  width: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  position: relative;
  top: 100%;
}
